<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h4 class="card-header">Search Category</h4>
            <div class="card-body">
                <form class="form-inline" action="#" id="meetup-search">
                    <div class="col-10">
                        <label for="topic" class="sr-only">Search</label>
                        <input type="text" class="form-control w-100" id="topic" name="topic" placeholder="Tech">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-outline-primary btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>