<div class="row justify-content-center">
    <div class="col-md-8 mb-4">
        <div class="card search">
            <div class="card-body">
                <form class="form-inline" action="#" id="meetup-search">
                    <div class="col-9">
                        <label for="topic" class="sr-only">Search</label>
                        <input type="text" class="form-control w-100" id="topic" name="topic" placeholder="Tech" autocomplete="off">
                    </div>
                    <div class="col-3">
                        <button type="submit" class="w-100 btn btn-outline-primary btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="generated-meetups">
        <div class="row">
            
        </div>
    </div>
</div>